# Agregate, Summarize and Group data

> 1. Simple Agregations
> - Group by 
> - Agg ()

In [1]:
#Import libraries
from pandasql import sqldf #!pip install -U pandasql
pysqldf = lambda q: sqldf(q, globals())
from collections import Counter
import pandas as pd #Pandas Lib
import numpy as np  #NumPy Lib
import matplotlib.pyplot as plt
import urllib.request, json 
from IPython.display import display
from IPython.display import Image

In [9]:
url = "https://data.medicare.gov/api/views/9n3s-kdb3/rows.csv?accessType=DOWNLOAD" 
life = pd.read_csv(url)

Let's read in our own data set from the plethora of data available on the Govt's website:
*data owned and sourced from: https://www.data.gov/*

In [11]:
life.head(1)

,Hospital Name,Provider Number,State,Measure Name,Number of Discharges,Footnote,Excess Readmission Ratio,Predicted Readmission Rate,Expected Readmission Rate,Number of Readmissions,Start Date,End Date
0,HIGHLANDS MEDICAL CENTER,10061,AL,READM-30-AMI-HRRP,Not Available,1.0,Not Available,Not Available,Not Available,Not Available,01-JUL-13,30-JUN-16

### 1. Simple Agregations

We have already covered many of the topics in lessons 1 and 2. I have not given the SAS and SQL code in all examples becuase this is intuitive and much of it is basic SQL or PROC SUMMARY.

**How many rows in the dataset**

~~~
SAS: you should be able to see the number of obs in the log.
SQL: select count (*) from table;
~~~

In [12]:
life['State'].count()

19830

**Largest Value in the column?**
~~~
select max('Number of Discharges') from table;
~~~

In [69]:
df=life
cols_to_convert = ['Number of Discharges', 'Expected Readmission Rate', 'Predicted Readmission Rate']
cols_to_date    = ['Start Date', 'End Date']
for col in cols_to_convert:
    df[col] = pd.to_numeric(df[col], errors='coerce')
for col in cols_to_date:
    df[col] = pd.to_datetime(df[col], errors='coerce')      

df.dtypes

df['Number of Discharges'].max()

8355.0

**How many discharges of phone calls are in the State of AL**
~~~
select sum ('Number of Discharges') 
from table 
where 'State' = 'AL' 
~~~

In [20]:
df['Number of Discharges'][df[ 'State'] == 'AL'].sum()

95303.0

In [21]:
#what if we wanted highland medical center?
df['Number of Discharges'][df[ 'Hospital Name'] == 'HIGHLANDS MEDICAL CENTER'].sum()

820.0

**How many entries are there for each state?**

~~~
SQL
select 'State', 
        count (*) 
from table 
group by 'State'

SAS:
proc freq data = table;
tables 'State';
run;
~~~

In [26]:
x = df['State'].value_counts()
x.head()

TX    1872
CA    1782
FL    1026
NY     912
PA     900
Name: State, dtype: int64

**Number of non-null unique network entries for hospitals**
~~~
select count (distinct 'Hospital Name') from table;
~~~

In [24]:
df['Hospital Name'].nunique()

3195

In [25]:
#How many rows the dataset
df['Hospital Name'].count()

19830

### 2. Group By

In SAS we use PROC SUMMARY or MEANS with BY, VAR, and CLASS statements to summarize data. While SQL uses group by statements and each variable is summarized in the select statement. We will go through simple group by statements and the explore the *agg()* function to sumarize different columns to create data sets.

**Assign values to a dictionairy **

In [28]:
df.groupby(['State']).groups.keys()

dict_keys(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'])

In [33]:
len (df.groupby(['State']).groups['CA'])

1782

**First Record by State**

In [34]:
df.groupby('State').first()

,Hospital Name,Provider Number,Measure Name,Number of Discharges,Footnote,Excess Readmission Ratio,Predicted Readmission Rate,Expected Readmission Rate,Number of Readmissions,Start Date,End Date
State,,,,,,,,,,,
AK,PROVIDENCE ALASKA MEDICAL CENTER,20001,READM-30-CABG-HRRP,118.0,5.0,0.8939,12.1,13.5,11,01-JUL-13,30-JUN-16
AL,HIGHLANDS MEDICAL CENTER,10061,READM-30-AMI-HRRP,103.0,1.0,Not Available,Not Available,14.6,Not Available,01-JUL-13,30-JUN-16
AR,NORTH METRO MEDICAL CENTER,40074,READM-30-HIP-KNEE-HRRP,637.0,5.0,Not Available,Not Available,13.9,Not Available,01-JUL-13,30-JUN-16
AZ,ABRAZO CENTRAL CAMPUS,30030,READM-30-CABG-HRRP,119.0,1.0,0.9867,13.4,13.6,Too Few to Report,01-JUL-13,30-JUN-16
CA,MILLS-PENINSULA MEDICAL CENTER,50007,READM-30-PN-HRRP,525.0,5.0,0.8116,12.9,15.9,56,01-JUL-13,30-JUN-16
CO,LONGMONT UNITED HOSPITAL,60003,READM-30-COPD-HRRP,228.0,5.0,0.9625,16.5,17.2,35,01-JUL-13,30-JUN-16
CT,ST FRANCIS HOSPITAL & MEDICAL CENTER,70002,READM-30-HF-HRRP,1458.0,5.0,0.9196,20.0,21.7,286,01-JUL-13,30-JUN-16
DC,GEORGE WASHINGTON UNIV HOSPITAL,90001,READM-30-COPD-HRRP,143.0,5.0,1.0860,20.9,19.3,36,01-JUL-13,30-JUN-16
DE,ST FRANCIS HOSPITAL,80003,READM-30-COPD-HRRP,140.0,5.0,0.9010,17.5,19.4,17,01-JUL-13,30-JUN-16
FL,HOLMES REGIONAL MEDICAL CENTER,100019,READM-30-AMI-HRRP,588.0,5.0,1.1226,18.9,16.9,119,01-JUL-13,30-JUN-16
GA,UPSON REGIONAL MEDICAL CENTER,110002,READM-30-CABG-HRRP,341.0,5.0,Not Available,Not Available,23.2,Not Available,01-JUL-13,30-JUN-16
HI,KUAKINI MEDICAL CENTER,120007,READM-30-COPD-HRRP,716.0,1.0,0.9376,14.1,15.0,Too Few to Report,01-JUL-13,30-JUN-16
IA,UNITYPOINT HEALTH-MARSHALLTOWN,160001,READM-30-COPD-HRRP,81.0,1.0,0.9429,18.9,20.0,11,01-JUL-13,30-JUN-16
ID,SAINT ALPHONSUS REGIONAL MEDICAL CENTER,130007,READM-30-HF-HRRP,244.0,1.0,0.9605,19.0,19.8,44,01-JUL-13,30-JUN-16
IL,EVANSTON HOSPITAL,140010,READM-30-CABG-HRRP,157.0,5.0,1.1130,14.0,12.6,25,01-JUL-13,30-JUN-16
IN,TERRE HAUTE REGIONAL HOSPITAL,150046,READM-30-PN-HRRP,311.0,1.0,1.0289,18.1,17.6,58,01-JUL-13,30-JUN-16
KS,KANSAS HEART HOSPITAL,170186,READM-30-HIP-KNEE-HRRP,0.0,5.0,Not Available,Not Available,12.4,Not Available,01-JUL-13,30-JUN-16
KY,WHITESBURG ARH HOSPITAL,180002,READM-30-AMI-HRRP,209.0,1.0,Not Available,Not Available,24.3,Not Available,01-JUL-13,30-JUN-16
LA,LAFAYETTE GENERAL MEDICAL CENTER,190002,READM-30-HIP-KNEE-HRRP,533.0,5.0,1.0416,4.4,4.2,24,01-JUL-13,30-JUN-16
MA,NORTH SHORE MEDICAL CENTER -,220035,READM-30-HF-HRRP,1177.0,5.0,0.9464,20.6,21.8,239,01-JUL-13,30-JUN-16
MD,SAINT AGNES HOSPITAL,210011,READM-30-CABG-HRRP,453.0,5.0,Not Available,Not Available,16.5,Not Available,01-JUL-13,30-JUN-16
ME,MAINE MEDICAL CENTER,200009,READM-30-CABG-HRRP,395.0,5.0,0.9535,12.7,13.4,49,01-JUL-13,30-JUN-16
MI,SAINT JOSEPH MERCY LIVINGSTON HOSPITAL,230069,READM-30-CABG-HRRP,1156.0,5.0,Not Available,Not Available,4.9,Not Available,01-JUL-13,30-JUN-16
MN,NORTH MEMORIAL MEDICAL CENTER,240001,READM-30-PN-HRRP,270.0,1.0,0.9408,15.7,16.7,39,01-JUL-13,30-JUN-16
MO,BOTHWELL REGIONAL HEALTH CENTER,260009,READM-30-CABG-HRRP,436.0,5.0,Not Available,Not Available,18.8,Not Available,01-JUL-13,30-JUN-16
MS,UNIVERSITY OF MISSISSIPPI MED CENTER,250001,READM-30-HF-HRRP,317.0,5.0,1.0108,21.2,21.0,68,01-JUL-13,30-JUN-16
MT,BILLINGS CLINIC HOSPITAL,270004,READM-30-COPD-HRRP,352.0,5.0,0.9079,16.7,18.4,52,01-JUL-13,30-JUN-16
NC,NOVANT HEALTH THOMASVILLE MEDICAL CENTER,340085,READM-30-HF-HRRP,86.0,5.0,0.9670,21.0,21.7,16,01-JUL-13,30-JUN-16
ND,ALTRU HOSPITAL,350019,READM-30-HIP-KNEE-HRRP,457.0,5.0,0.9680,4.5,4.7,20,01-JUL-13,30-JUN-16
NE,BRYAN MEDICAL CENTER,280003,READM-30-CABG-HRRP,289.0,1.0,0.7556,9.2,12.2,19,01-JUL-13,30-JUN-16
NH,WENTWORTH-DOUGLASS HOSPITAL,300018,READM-30-HF-HRRP,405.0,5.0,1.0045,21.7,21.6,88,01-JUL-13,30-JUN-16
NJ,HACKENSACK UNIVERSITY MEDICAL CENTER,310001,READM-30-COPD-HRRP,670.0,5.0,1.0453,21.7,20.8,149,01-JUL-13,30-JUN-16
NM,GUADALUPE COUNTY HOSPITAL,320067,READM-30-CABG-HRRP,221.0,5.0,Not Available,Not Available,19.2,Not Available,01-JUL-13,30-JUN-16
NV,SUMMERLIN HOSPITAL MEDICAL CENTER,290041,READM-30-AMI-HRRP,221.0,7.0,1.1048,17.8,16.1,46,01-JUL-13,30-JUN-16
NY,ROCHESTER GENERAL HOSPITAL,330125,READM-30-HIP-KNEE-HRRP,438.0,1.0,0.9736,4.3,4.4,Too Few to Report,01-JUL-13,30-JUN-16
OH,LAKE HEALTH,360098,READM-30-HF-HRRP,913.0,1.0,0.9903,21.4,21.6,195,01-JUL-13,30-JUN-16
OK,PINNACLE SPECIALTY HOSPITAL,370233,READM-30-PN-HRRP,144.0,5.0,Not Available,Not Available,20.7,Not Available,01-JUL-13,30-JUN-16
OR,ASANTE THREE RIVERS MEDICAL CENTER,380002,READM-30-HF-HRRP,235.0,1.0,1.0215,19.9,19.5,48,01-JUL-13,30-JUN-16
PA,MOUNT NITTANY MEDICAL CENTER,390268,READM-30-HIP-KNEE-HRRP,862.0,5.0,1.1294,5.0,4.4,45,01-JUL-13,30-JUN-16
RI,OUR LADY OF FATIMA HOSPITAL,410005,READM-30-PN-HRRP,154.0,5.0,0.9693,16.1,16.6,23,01-JUL-13,30-JUN-16
SC,HAMPTON REGIONAL MEDICAL CENTER,420072,READM-30-AMI-HRRP,504.0,1.0,Not Available,Not Available,18.7,Not Available,01-JUL-13,30-JUN-16
SD,PHS INDIAN HOSPITAL AT ROSEBUD,430084,READM-30-HIP-KNEE-HRRP,769.0,5.0,Not Available,Not Available,4.1,Not Available,01-JUL-13,30-JUN-16
TN,STARR REGIONAL MEDICAL CENTER ATHENS,440068,READM-30-HIP-KNEE-HRRP,353.0,1.0,Not Available,Not Available,19.5,Not Available,01-JUL-13,30-JUN-16
TX,SOUTH TEXAS REGIONAL MEDICAL CENTER,450165,READM-30-HF-HRRP,62.0,1.0,1.0500,22.6,21.5,17,01-JUL-13,30-JUN-16
UT,CACHE VALLEY HOSPITAL,460054,READM-30-HIP-KNEE-HRRP,90.0,1.0,1.0199,3.6,3.6,Too Few to Report,01-JUL-13,30-JUN-16
VA,WARREN MEMORIAL HOSPITAL,490033,READM-30-CABG-HRRP,272.0,5.0,Not Available,Not Available,15.9,Not Available,01-JUL-13,30-JUN-16
VT,UNIVERSITY OF VERMONT MEDICAL CENTER,470003,READM-30-COPD-HRRP,312.0,1.0,0.9562,18.7,19.5,55,01-JUL-13,30-JUN-16
WA,PROVIDENCE ST MARY MEDICAL CENTER,500002,READM-30-HIP-KNEE-HRRP,265.0,1.0,0.7583,3.3,4.4,Too Few to Report,01-JUL-13,30-JUN-16
WI,MINISTRY ST MICHAELS HOSPITAL OF STEVENS POINT,520002,READM-30-AMI-HRRP,196.0,1.0,0.9468,16.8,17.7,Too Few to Report,01-JUL-13,30-JUN-16
WV,CHARLESTON SURGICAL HOSPITAL,510091,READM-30-CABG-HRRP,354.0,5.0,Not Available,Not Available,18.4,Not Available,01-JUL-13,30-JUN-16
WY,CAMPBELL COUNTY MEMORIAL HOSPITAL,530002,READM-30-PN-HRRP,174.0,1.0,0.8694,13.6,15.7,16,01-JUL-13,30-JUN-16

**Sum of Discharges by State**

In [37]:
x = df.groupby('State')['Number of Discharges'].sum()
x.head()

State
AK      5019.0
AL     95303.0
AR     61703.0
AZ     76353.0
CA    303151.0
Name: Number of Discharges, dtype: float64

**Get the number of Hospitals in Each State**

In [57]:
df.groupby('State')['Hospital Name'].count().head()

State
AK      48
AL     510
AR     270
AZ     378
CA    1782
Name: Hospital Name, dtype: int64

**For the State of AL, list the number of discharges by hospital name**

In [43]:
x= df[df['State'] == 'AL'].groupby('Hospital Name')['Number of Discharges'].sum()
x.head()

Hospital Name
ANDALUSIA REGIONAL HOSPITAL      690.0
ATHENS LIMESTONE HOSPITAL        865.0
ATMORE COMMUNITY HOSPITAL        442.0
BAPTIST MEDICAL CENTER EAST      910.0
BAPTIST MEDICAL CENTER SOUTH    2238.0
Name: Number of Discharges, dtype: float64

**By STATE and Measure Name count the number of discharges**

In [47]:
x=df.groupby(['State', 'Measure Name'])['Number of Discharges'].count()
x.head()

State  Measure Name
AK     READM-30-AMI-HRRP         2
       READM-30-CABG-HRRP        1
       READM-30-COPD-HRRP        6
       READM-30-HF-HRRP          5
       READM-30-HIP-KNEE-HRRP    3
Name: Number of Discharges, dtype: int64

In [52]:
x= df.groupby(['State', 'Hospital Name'])['Number of Discharges'].sum()
x.head()

State  Hospital Name
AK     ALASKA NATIVE MEDICAL CENTER           425.0
       ALASKA REGIONAL HOSPITAL              1046.0
       BARTLETT REGIONAL HOSPITAL               NaN
       CENTRAL PENINSULA GENERAL HOSPITAL     565.0
       FAIRBANKS MEMORIAL HOSPITAL            219.0
Name: Number of Discharges, dtype: float64

**Sum of all discharges by state**

In [64]:
df.groupby('State').agg({'Number of Discharges': ['sum']}).head()

      Number of Discharges
                       sum
State
AK                  5019.0
AL                 95303.0
AR                 61703.0
AZ                 76353.0
CA                303151.0

**Sum & Mean of all Discharges & Readmission Rate | BY | State and Meassure Name**

In [65]:
df.groupby(['State', 'Measure Name']).agg({'Number of Discharges': ['sum', 'mean'],      # find the sum of the discharges for each group
                                           'Predicted Readmission Rate': ['mean'] # find the number of network type entries
                                             }).head(10)

                             Number of Discharges              \
                                              sum        mean
State Measure Name
AK    READM-30-AMI-HRRP                     556.0  278.000000
      READM-30-CABG-HRRP                    118.0  118.000000
      READM-30-COPD-HRRP                    834.0  139.000000
      READM-30-HF-HRRP                      830.0  166.000000
      READM-30-HIP-KNEE-HRRP               1330.0  443.333333
      READM-30-PN-HRRP                     1351.0  225.166667
AL    READM-30-AMI-HRRP                    8394.0  262.312500
      READM-30-CABG-HRRP                   3328.0  175.157895
      READM-30-COPD-HRRP                  18904.0  286.424242
      READM-30-HF-HRRP                    22146.0  369.100000

                             Predicted Readmission Rate
                                                   mean
State Measure Name
AK    READM-30-AMI-HRRP                       13.580000
      READM-30-CABG-HRRP                      12.700000
      READM-30-COPD-HRRP                      17.212500
      READM-30-HF-HRRP                        19.637500
      READM-30-HIP-KNEE-HRRP                   3.742857
      READM-30-PN-HRRP                        14.487500
AL    READM-30-AMI-HRRP                       15.850000
      READM-30-CABG-HRRP                      13.631818
      READM-30-COPD-HRRP                      17.997436
      READM-30-HF-HRRP                        20.532468

In [68]:
# Define the aggregation procedure outside of the groupby operation
AGY = {
    'Number of Discharges':'sum',
    'Predicted Readmission Rate': lambda x: max(x) - 1
    }

df.groupby('State').agg(AGY).head()

       Number of Discharges  Predicted Readmission Rate
State
AK                   5019.0                        21.5
AL                  95303.0                         NaN
AR                  61703.0                         NaN
AZ                  76353.0                        24.5
CA                 303151.0                        28.0

In [73]:
# find the min, max, and sum of the Discharge column
df.groupby(['State']).agg({'Number of Discharges': [min, max, sum, 'mean'],      
                              'Start Date': [min, 'first', 'nunique']}).head()    
# get the min, first, and number of unique dates per state

      Number of Discharges                               Start Date  \
                       min     max       sum        mean        min
State
AK                    76.0   608.0    5019.0  218.217391 2013-07-01
AL                     0.0  1861.0   95303.0  350.378676 2013-07-01
AR                    48.0  2152.0   61703.0  358.738372 2013-07-01
AZ                     0.0  2165.0   76353.0  353.486111 2013-07-01
CA                     0.0  3073.0  303151.0  314.471992 2013-07-01


           first nunique
State
AK    2013-07-01       1
AL    2013-07-01       1
AR    2013-07-01       1
AZ    2013-07-01       1
CA    2013-07-01       1